@charset "UTF-8";
body {
            width: 100%;
            height: 100%;
        }

        section {
            display: block;
        }
        
        .login_title {
            color: var(--yellow);
            padding: 30px 0 0;
            font-weight: 400;
        }
        .login_logo {
            width: 500px;
            margin-top: 0;
            padding: 220px 0 53px;
        }

        .loginPage {
            width: 768px;
            margin: 0 auto;
        }

        .login_form {
            width: 460px;
            margin: 0 auto;
            margin-bottom: 31%;
            padding-bottom: 30px;
        }
        
        .id_area input{
            width: 90%;
            height: 60px;
            border: 0.5px solid var(--light-gray);
            padding-left: 20px;
        }

        .pw_area input{
            width: 90%;
            height: 60px;
            border: 0.5px solid var(--light-gray);
            padding-left: 20px;
        }

        .idSave_checkbox {
            display: block;
            width: 414px;
            margin: 0 auto;
            padding: 6px 0 6px;
            left: 0;
        }

        .idSave_checkbox a {
            margin-left: 34.5%;
        }
        
        .loginBtn {
            width: 414px;
            height: 56px;
            border-radius: 0;
        }

        .loginBtn h3 {
            color: var(--white);
        }

        .copyrightText h5{
            padding-top: 20px;
        }

        hr {
            border-top: 1px solid rgba(0, 0, 0, 0.05);
            max-width: 100%;
        }