@charset "utf-8";
        .myPageArea1 {
            width: 1450px;
            height: 871px;
            text-align: left;
        }
        
        .myPageArea1 h2 {
            text-align: left;
            padding-bottom: 20px;
        }

        .profile_Img {
            width: 200px;
            height: 250px;
        }

        .update_pw {
        	vertical-align: top;
            width: 250px;
            height: 200px;
            position: relative;
            display: inline;
            padding-left: 60px;
        }

        .td1 {
            padding-right: 30px;
            font-size: 17px;
            font-weight: 700;
        }

        .update_pw th, td {
            padding: 10px 0;
            text-align: left;
        }
        
        .idInput {
        	width: 230px;
        }
        

        .pwInput {
            width: 230px;
        }
        
        .name {
        	width : 230px;
        }
        	
        .rno {
        	width : 230px;
        }
        
        .email {
        	padding-right: 50px;
        	width: 230px;
        }
        
        .phone {
        	padding-right: 50px;
        	width: 230px;
        }

        .update_profile {
        	vertical-align: top;
            width: 200px;
            height: 200px;
            position: relative;
            display: inline;
            padding-left: 100px;
        }

        .btn.submit {
        	display: block;
        	margin-right: 26.7%;
            width: 110px;
            height: 40px;
            font-size: 17px;
            font-weight: 700;
        }

        .myPage_updateBtn {
            /* vertical-align: bottom; */
            width: 100px;
            height: 45px;
        }

        .emart24_storeImg {
            width: 640px;
            height: 450px;
            padding-top: 20px;
        }

        tr:first-child{
            border: 0;
        }

        tr:nth-child(n+2){
            border: 0;
        }

        tr:last-child{
            border: 0;
        }

        .mypage_border_bottom{
        	border: 0;
        }
